:root {
  --primary-color: #ffffff;
  --accent-color-iris: #4d5ae5;
  --accent-color-text: #2e2f42;
  --accent-color-description: #434455;
  --button-color-filters: #404bbf;
  --accent-color-filters: #e7e9fc;
  --accent-color-cloud: #f4f4fd;
  --green-new-color: #31d0aa;
  --grey-new-color: #8e8f99;
  --modal-background-color: #fcfcfc;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --icon-background: #4d5ae5;
  --icons-color: #f4f4fd;
  --icons-color-hover: #404bbf;
  --modal-background-btn-color: #e7e9fc;
  --modal-btn-color: #2e2f42;
  --transitions: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

p,
h3 {
  font-family: var(--font-family);
}

/*--stilizare containere principale--*/
.header-container {
  width: 1200px;
  height: 72px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.filters {
  display: flex;
  margin-bottom: 72px;
  margin-top: 96px;
  justify-content: center;
}

.first-line-container {
  width: 1200px;
}

.second-line-container {
  width: 1200px;
}

.third-line-container {
  width: 1200px;
}

.last-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 132px;
  gap: 50px;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  letter-spacing: 0.02em;
}
/*---------------------------------------------------------*/

/*--stilizare global header si logo webstudio--*/
.global-header {
  background-color: var(--primary-color);
  border-bottom: 1px solid #e7e9fc;
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.global-header a {
  text-decoration: none;
  transition: color var(--transitions);
}

.global-header ul {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: var(--second-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.web {
  color: var(--accent-color-iris);
}

.studio {
  color: var(--accent-color-text);
}

.logo:hover,
.logo:focus {
  transform: scale(1.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*---------------------------------------------------------*/

/*--stilizare navigatie catre pagini si contact--*/
.main-nav {
  display: flex;
  justify-content: space-between;
  width: 77vw;
  padding-left: 4vw;
}

.main-nav nav {
  display: flex;
  align-items: center;
}

.main-nav ul {
  list-style: none;
}

.main-nav ul li {
  padding-left: 40px;
}

.main-nav a:hover {
  color: var(--button-color-filters);
}

.index,
.portfolio,
.contacts {
  letter-spacing: 0.02em;
  color: var(--accent-color-text);
  font-weight: 500;
  position: relative;
}

.portfolio.active::after,
.portfolio.current::after {
  content: "";
  position: absolute;
  width: calc(100% - 1px);
  height: 4px;
  background-color: var(--button-color-filters);
  bottom: -27px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}

.index:focus,
.portfolio:focus,
.contacts:focus {
  color: var(--button-color-filters);
  transition: var(--transitions);
}

.address ul li a {
  color: var(--accent-color-description);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.address a:hover,
.address a:focus {
  color: var(--button-color-filters);
}
/*---------------------------------------------------------*/

/*--stilizare butoane navigatie--*/
.filters li button {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: var(--accent-color-cloud);
  color: var(--accent-color-iris);
  cursor: pointer;
  border: 1px solid var(--accent-color-filters);
}

.filters li button:hover {
  color: var(--primary-color);
  background-color: var(--accent-color-iris);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  transition: var(--transitions);
  scale: 1.1;
}

.filters li button:active {
  background-color: var(--button-color-filters);
  transition: var(--transitions);
}

.filters ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
/*---------------------------------------------------------*/

/*--stilizare sectiuni imagini rand 1, 2 si 3 --*/
/* transition blue background start */
.image-container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 360px;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color-iris);
  transform: translatey(100%);
  transition: transform var(--transitions);
}

.card1:hover .overlay,
.card2:hover .overlay,
.card3:hover .overlay,
.card4:hover .overlay,
.card5:hover .overlay,
.card6:hover .overlay,
.card7:hover .overlay,
.card8:hover .overlay,
.card9:hover .overlay {
  transform: translatey(0);
}

.overlay .paragraph {
  color: var(--accent-color-cloud);
  margin: 40px 32px 164px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
/* transition blue background end */

.cards {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.cards ul {
  justify-content: space-between;
  align-items: center;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.cards h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--accent-color-text);
  margin-left: 16px;
  margin-top: 32px;
  margin-bottom: 8px;
}

.cards p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--accent-color-description);
  margin-left: 16px;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9 {
  width: 360px;
  height: 420px;
  border-bottom: 1px solid var(--accent-color-filters);
  margin-bottom: 48px;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover,
.card7:hover,
.card8:hover,
.card9:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
  transition: var(--transitions);
}
/*---------------------------------------------------------*/

/*--stilizare footer, logo si linkuri sociale--*/
.page-footer {
  background-color: var(--accent-color-text);
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
}

.increase {
  color: #f4f4fd;
  box-sizing: content-box;
  width: 264px;
  padding-top: 16px;
}

.web-footer {
  color: var(--accent-color-iris);
}

.studio-footer {
  color: var(--accent-color-cloud);
}

.logo-footer {
  box-sizing: content-box;
  width: 115px;
  display: flex;
  text-transform: uppercase;
  font-family: var(--second-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.logo-footer:focus,
.logo-footer:hover {
  transform: scale(1.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons {
  color: var(--accent-color-cloud);
}

.social-media {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.footer-icons {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.footer-icons .social-links svg {
  width: 24px;
  height: 24px;
  fill: var(--accent-color-cloud);
}

.footer-icons .social-links {
  width: 40px;
  height: 40px;
  background-color: var(--accent-color-iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icons-color);
  transition: var(--transitions);
}

.footer-icons .social-links:hover,
.footer-icons .social-links:focus {
  background-color: var(--green-new-color);
}

/* --------------------subscribe-field------------------------------ */
.submit-container {
  align-content: center;
}

.subscribe {
  color: var(--primary-color);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.email-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

::placeholder {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--primary-color);
}

.submit-container input {
  background: var(--accent-color-text);
  border: none;
  color: var(--primary-color);
  border-radius: 4px;
  width: 264px;
  height: 40px;
  border: 1px solid white;
  margin: 16px 24px 0px 0px;
  padding-left: 16px;
}

.submit-container button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 40px;
  padding: 8px 24px 8px 24px;
  cursor: pointer;
  background: var(--accent-color-iris);
  border: none;
  border-radius: 4px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  gap: 16px;
  margin-top: 16px;
}

.submit-container input:focus {
  outline: none;
  border: 1px solid var(--accent-color-iris);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-container button:hover {
  background-color: var(--button-color-filters);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-container button:active {
  background-color: var(--accent-color-iris);
}

.send {
  width: 24px;
  height: 24px;
  fill: var(--primary-color);
}
/****************** Burger Menu ****************/
.container {
  display: flex;
  justify-content: flex-end;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--primary-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
}

.mobile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 70px;
}

.mobile-menu .link {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 10px;
  text-decoration: none;
  color: var(--accent-color-text);
  gap: 40px;
}

.modal-contacts {
  width: 353px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 270px;
}

.modal-contacts li {
  list-style: none;
}

.tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: var(--accent-color-description);
}

.mailto {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--accent-color-description);
}
.modal-icon-list {
  display: flex;
  gap: 56px;
  margin-top: 48px;
  justify-content: center;
}

.modal-icon-list .icon svg {
  width: 16px;
  height: 16px;
  fill: var(--accent-color-cloud);
}

.modal-icon-list .icon {
  width: 40px;
  height: 40px;
  background-color: var(--accent-color-iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icons-color);
  transition: var(--transitions);
}

.modal-icon-list .icon:hover,
.modal-icon-list .icon:focus {
  background-color: var(--icons-color-hover);
}

.mobile-menu .link:hover,
.mobile-menu .link:focus {
  color: var(--button-color-filters);
}

.tel:hover,
.mailto:hover,
.tel:focus,
.mailto:focus {
  color: var(--accent-color-iris);
}

.is-hidden {
  visibility: hidden;
  transform: scale(1.1);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navy-blue-modal);
  z-index: 8;
  transition: transform var(--transitions);
}

.close-btn {
  background-color: var(--modal-background-btn-color);
  border-radius: 50%;
  position: absolute;
  color: var(--modal-btn-color);
  top: 24px;
  right: 24px;
  outline: none;
  border: 1px solid #4b494a3b;
  transition: transform var(--transitions);
}

.close-btn:hover {
  background-color: var(--button-color-filters);
  color: white;
  box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
  cursor: pointer;
  transform: scale(1.5);
}
/******************* End Burger Menu********************/
/*--------------------------end-------------------------------*/

@media screen and (max-width: 320px) {
  /* small mobile view */
  .modal-content {
    width: fit-content;
  }
  .modal-content h3 {
    margin-bottom: 0;
  }
  body {
    overflow-x: hidden;
  }
  .modal-icon-list {
    gap: 24px;
  }
  .modal-contacts {
    margin-top: 180px;
  }
  .tel {
    font-size: 27px;
  }
  .container {
    min-width: 160px !important;
  }
}
@media screen and (max-width: 428px) {
  /* mobile view*/
  .submit-container input {
    margin: 0;
    min-width: 200px;
    width: 90vw;
    padding: 10px;
    margin: 0;
  }
  .subscribe {
    display: flex;
    justify-content: center;
    padding: 16px;
  }
  .submit-container {
    margin: 0;
  }
  .social-media {
    display: flex;
    justify-content: center;
  }
  .logo-footer {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .last-container {
    display: flex;
    justify-content: center;
  }
  .pictures-container {
    display: none;
  }
  .vector-group,
  .pictures-container {
    display: none;
  }
  .main-nav {
    display: none;
  }
  .cards ul {
    justify-content: space-around;
  }
  .header-container {
    max-width: 94%;
    margin-left: 6vw;
    display: flex;
    justify-content: flex-start;
  }
  .container {
    min-width: 262px;
  }
}
@media screen and (min-width: 429px) and (max-width: 768px) {
  /* tablet view */
  .submit-container input {
    padding: 10px;
  }
  .submit-container {
    margin: 0;
    padding-right: 70px;
  }
  .social-media {
    display: flex;
    justify-content: center;
  }
  .logo-footer {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .last-container {
    display: flex;
    justify-content: center;
  }
  .main-nav {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .header-container {
    max-width: 96%;
    margin-left: 16px;
    display: flex;
    justify-content: flex-start;
  }
  .address ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address ul li a {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
  }
  .menu,
  .menu-toggle,
  .menu-container {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1158px) {
  /* big tablets and desktop view */
  .hero-container {
    width: 100%;
  }
  .address ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .menu,
  .menu-toggle,
  .menu-container {
    display: none;
  }
}
@media screen and (min-width: 1159px) {
  /* desktop view */
  .menu,
  .menu-toggle,
  .menu-container {
    display: none;
  }
}
